/* This stylesheet has precedence over bootstrap. We'll use this to modify some bootstrap styles and add custom css. */

/* Declare some global color scheming variables. Root is used to ensure global scope */
:root {
    --beige: #f5f0dc;
}


.snake-container {
    background-color: var(--beige);
    border-radius: 20px;
    padding: 30px;
    padding-top: 0;
    margin-top: 10px;
}
/* Remove bootstrap padding */
.snake-canvas {
    padding: 0;
    background-color: white;
}

.snake-header {
    padding: 10px 0px;
}